<header id="home-header" style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <div class="container">
    <h1 class="site-title editable">{{ site.title }}</h1>
    <h2 class="site-description">{{ site.tagline }}</h2>

    <ul class="social">
      <li><a href="https://www.facebook.com/dorosgrzegorz">fb</a></li>
      <li><a href="https://github.com/gregdoros">githud</a></li>
      <li><a href="http://mrocznygrzes.tumblr.com">poem</a></li>
      <li><a href="mailto:doros.grzegorz@gmail.com">mail</a></li>
    </ul>

  </div>

</header>
<article>
